
.scroll:fitToWidth .viewport {
    -fx-background-color : transparent;
}

.drawer
{
    -fx-background-color: linear-gradient(to top,   derive(#02796b, 50%) , derive(#73e57b, 50%)) ;
}


.drawer .box-search
{
    -fx-background-repeat : no-repeat;
    -fx-background-position : right;
    -fx-border-width : 1px 0px 1px 0px;
    -fx-min-height : 38px;
    -fx-border-color : -box-search-color;
}

.drawer .box-search .text-field
{
    -fx-text-fill : -box-search-fill;
}

.drawer .scroll .drawer-content .drawer-item:hover {
    -fx-background-color: #02796b50;
}

.drawer .scroll .drawer-content .drawer-item,
.drawer .scroll .drawer-content .drawer-item .text
{
  -fx-padding : 2 2 2 22;
  -fx-background-radius : 0px;
  -fx-background-color : transparent;
  -fx-min-height : 50px;
  -fx-alignment : baseline_left;
  -fx-fill : white;
  -fx-border-width : 0 0 0 4;
  -fx-border-color : transparent;
  -fx-graphic-text-gap : 20;
}


.drawer .scroll .drawer-content .drawer-item:selected,
.drawer .scroll .drawer-content .drawer-item:selected .text,
.drawer .scroll .drawer-content .drawer-item:selected .icon,
.drawer .scroll .drawer-content .drawer-item:selected .group .icon
{
  -fx-effect : none;
    -fx-background-color: linear-gradient(to left, #ffffff30, #ffffff50);
  -fx-border-color : white;
  -fx-fill : white;
    /* -fx-padding : 2 2 2 10; */
}


.drawer .scroll .drawer-content .drawer-menu .title:hover {
    -fx-background-color: #02796b50;
}

.drawer .scroll .drawer-content .drawer-menu .title .arrow-button .arrow {
  -fx-shape : "M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z";
}

.drawer-menu:collapsed .title .arrow-button .arrow,
.drawer .scroll .drawer-content .drawer-menu:expanded .title .arrow-button .arrow {
  -fx-shape : "M0 0h4v4H0z";
  -fx-max-height : 10px;
  -fx-max-width : 10px;
    -fx-background-color : white;

}

.drawer .scroll .drawer-content .drawer-item  .glyph-icon,
.drawer .scroll .drawer-content .drawer-item  .icon
{
    -fx-fill : white;
}

.drawer .scroll .drawer-content .drawer-menu .content
{
  -fx-border-color : transparent;
  -fx-padding : 0px;
  -fx-background-color: #02796b99;
}

.drawer .scroll .drawer-content .drawer-menu .title
{
    -fx-background-radius : 0px;
    -fx-background-color : transparent;
    -fx-pref-height : 50px;
    -fx-cursor : hand;
    -fx-padding : 2 25 2 10 2;
    -fx-border-width : 0 4 0 0;
    -fx-alignment : baseline_right;
}

.drawer .scroll .drawer-content .drawer-menu .title .arrow-button .arrow {
  -fx-pref-height : 10px;
  -fx-pref-width : 10px;
}
.drawer .scroll .drawer-content .drawer-menu:expanded .title .arrow-button .arrow
{
  -fx-pref-height : -45px;
  -fx-scale-y : 0.4px;
}

.drawer .scroll .drawer-content .drawer-menu .title .text,
.drawer .scroll .drawer-content .drawer-menu .title .icon,
.drawer .scroll .drawer-content .drawer-menu .title .arrow-button .arrow
{
  -fx-fill : white;
}

.drawer .scroll .drawer-content .drawer-menu .drawer-item
{
  -fx-alignment : baseline_right;
  -fx-padding : 2 20 2 20;
}

.drawer .scroll .drawer-content .drawer-menu .drawer-item .icon
{
  -fx-pref-height : 10px;
}

.drawer .scroll .drawer-content .drawer-menu .drawer-item:selected
{
    -fx-background-color: linear-gradient(to left, #ffffff30, #ffffff50);
  -fx-border-color : transparent;
}


.drawer .scroll .drawer-content .menu-selected .title{
    -fx-background-color: linear-gradient(to left, #ffffff30, #ffffff50);
    -fx-border-width : 0;
}

.menu-selected {
    -fx-border-color : white;
    -fx-border-width : 0 4 0 0;
}