
.root {

    -background-color : -elegant;
    -foreground-color : derive(-elegant, 10%);

    -text-color : white;
    -separator-color : derive(-elegant, 20%);
    -icon-color : #ffffff99;
    -box-fill : #ffffff90;

}

.combo-box-popup .color-palette {
    -fx-background-color : -background-color;
}

.icon-notification .badge-pane {
  -fx-background-color : -mint;
}

.icon-warning .badge-pane {
  -fx-background-color : -warning;
}

.icon-danger .badge-pane {
  -fx-background-color : -danger;
}

/*******************************************************************************
 *                                                                             *
 * ColorPicker                                                                 *
 *                                                                             *
 ******************************************************************************/

/* the color over which the user is hovering */
.color-palette-region > .color-square.hover-square {
    -fx-background-color: -fx-faint-focus-color, white;
    -fx-background-insets: -3,-1;
    -fx-background-radius: 5,0;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-border-color: -fx-focus-color;
    -fx-border-insets: -1, -1;
}

#bar {
    -fx-background-color : -foreground-color;
}

/* ------- CUSTOM COLOR DIALOG ------- */


