@font-face {
    -fx-font-family : 'Roboto Regular';
    src: url('/com/gn/theme/fonts/Roboto-Regular.ttf');
}

@font-face {
    -fx-font-family : 'Roboto Thin';
    src: url('/com/gn/theme/fonts/Roboto-Thin.ttf');
}

@font-face {
    -fx-font-family : 'Roboto Bold';
    src: url('/com/gn/theme/fonts/Roboto-Bold.ttf');
}
