.root
{
    -elegant    : #2E2E2E;
    -dark-gray  : #656D78;
    -light-gray : #E6E9ED;
    -foreground-pop : white;
}

.popover  {
	-fx-background-color: -background-color;
}

.popover > .border {
	-fx-stroke-width: 0.5;
	-fx-fill: transparent;
	-fx-effect: null;
	-fx-stroke-type : inside;
}

.popover > .content {
  -fx-border-color : -medium-gray;
  -fx-border-width : 2px;
	-fx-padding: 0;
}

.popover > .detached {
	-fx-background-color: transparent;
}

.popover > .content > .title > .text  {
	-fx-padding: 0 6.0 12.0 6.0;
	-fx-text-fill: rgba(120, 120, 120, .8);
	-fx-font-weight: bold;
}

.popover > .content .scroll-pane .viewport
{
    -fx-background-color : white;
}

.list-view .list-cell:hover .badge-cell
{
    -fx-background-color : transparent;
}

.list-view .list-cell:hover
{
    -fx-background-color: derive(-background-color, -10%);
}

.popover .list-view .list-cell .badge-cell .label .text,
.popover .list-view .list-cell:selected .cell,
.popover .list-view .list-cell:hover .badge-cell .label .text,
.popover .list-view .list-cell:focused .badge-cell .label .text,
.popover .list-view .list-cell:focused:selected .badge-cell .label .text,
.popover .list-view .list-cell:focused:hover .badge-cell .label .text
{
      -fx-background-color : red;
	  -fx-fill : -text-color;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:hover {
    -fx-background-color: derive(-background-color, 50%);
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:pressed,
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected
{
    -fx-background-color: derive(-background-color, -10%);
    -fx-background-insets: 0;
}
