
/*
    Created on : 25/10/2018, 08:00:15
    Author     : Gleidson Neves da Silveira
    Hearders text
*/

.h1, .h2, .h3, .h4, .h5, .h6
{
  -fx-text-fill : -text-color;
}

.h1
{
  -fx-font-size : 36px;
}

.h2
{
  -fx-font-size : 30px;
}

.h3
{
  -fx-font-size : 24px;
}

.h4
{
  -fx-font-size : 18px;
}

.h5
{
  -fx-font-size : 14px;
}

.h6
{
    -fx-font-size : 12px;
}


.min
{
  -fx-font-size : 10px;
}
