[submodule "presentation"]
    path = presentation
    url = https://github.com/gleidsonmt/presentation.git
    branch = feature_update
;     branch = main

[submodule "glad"]
    path = glad
    url = https://github.com/gleidsonmt/glad.git
    branch = dev
