[submodule "blockcode"]
    path = blockcode
    url = https://github.com/gleidsonmt/blockcode.git
[submodule "presentation"]
    path = presentation
    url = https://github.com/gleidsonmt/presentation.git
[submodule "glad"]
    path = glad
    url = https://github.com/gleidsonmt/glad.git
