./gitignore
.idea/**
/out/**
/user/**
annotation.txt
tasks.txt
scenicView.properties
dashboard.properties
DashboardFx.iml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build/**
/gradle/
/.gradle/**
