

.rating {
    -fx-background-color: transparent;
    -gn-number-of-stars: 5;
    -gn-range: 3;
}

.rating > .star {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.rating > .star {
    -fx-background-color: transparent;
    -fx-border-color: derive(yellow, -50%);
    -fx-border-width: 2px;
}

.rating > .star:activate {
    -fx-background-color: yellow;
}