
.padding-1 {
    -fx-padding : 1px;
}

.padding-5 {
    -fx-padding : 5px;
}

.padding-10 {
    -fx-padding : 10px;
}

.border-light-gray {
    -fx-border-color : -light-gray;
}

.border-light-gray-2 {
    -fx-border-color : -light-gray-2;
}

.border-medium-gray {
    -fx-border-color : -medium-gray;
}

.border-medium-gray-2 {
    -fx-border-color : -medium-gray-2;
}


.border-0,
.no-border {
    -fx-border-width : 0px;
}

.border-1 {
    -fx-border-width : 1px;
}

.border-l-1 {
    -fx-border-width : 0px 0px 0px 1px;
}

.border-t-1 {
    -fx-border-width : 1px 0px 0px 0px;
}

.border-r-1 {
    -fx-border-width : 0px 1px 0px 0px;
}

.border-b-1 {
    -fx-border-width : 0px 0px 1px 0px;
}


.border-box {
    -fx-border-color : -light-gray-2;
}

.raised:pressed, .raised:focused
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 18, 0 , 0 , 10 );
}

.raised {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 15, 0 , 0 , 4 );
}

.depth-1
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 5, 0 , 0 , 1 );
}

.depth-2
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 10, 0 , 0 , 1 );
}

.depth-3
{
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 10, 0 , 0 , 2 );
}