.root {
    -fx-accent: #0085ff;
}

.toggle-switch {
    -fx-track-color: -light-gray;
}

.icon {
    -fx-fill: -text-color;
}

.menu {
    -fx-padding: 0px;
    -fx-border-insets: 2px;
}

.menu-content {
    -fx-border-color: -light-gray-2;
    -fx-border-width: 0px 0px 0px 2px;
}

.menu-content .overview-item  {
    -fx-transition-property: -fx-scale-x, -fx-scale-y;
    -fx-transition-duration: 1s;
    -fx-transition-timing-function: ease-in-out;
}

.menu-content .overview-item:hover .text {
    -fx-fill: -fx-accent;
}
.menu-content .overview-item:hover {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}


.menu-content .overview-item:selected {
    -fx-border-color:  -fx-accent;
}

.menu-content .overview-item:focused,
.menu-content .overview-item:focused:selected,
.menu-content .overview-item:selected {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-radius: 2px;
    -fx-effect: none;
}

.menu GridPane .overview-item:selected .text {
    -fx-fill: -fx-accent;
    -fx-font-weight: bold;
}

.menu .overview-item .text {
    -fx-fill: -text-color;
    -fx-font-family: "Instagram Sans";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.menu .overview-item {
     -fx-background-color: transparent;
     -fx-cursor: hand;
     -text-color: -dark-gray;
}

.overview-title .text {
    -fx-fill: -text-color;
    -fx-font-family: "Instagram Sans";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.pattern-circle {
    -fx-background-image: url('../img/circles_10.png');
}


/** @ BreadCrumb **/

.breadcrumb {
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 0px;
}

.breadcrumb .hyperlink {
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-alignment: center_left;
}


.breadcrumb .hyperlink .text {
}

.breadcrumb .hyperlink:visited .text,
.breadcrumb .hyperlink:visited:hover .text {
}

.breadcrumb .last .text {
    -fx-fill: -dark-gray;
}

.button-bar .container {
    -fx-alignment: center;
    -fx-padding: 0px 10px 0px 0px;
}

.button-bar Region { /* Place elements wherever I want in a bar action */
    -fx-max-width: 0px;
    -fx-pref-width: 0px;
    -fx-min-width: 0px;
    -fx-min-height: 0px;
    -fx-pref-height: 0px;
    -fx-max-height: 0px;

    -fx-padding: 10px;

}

.notification-item:selected {
    -fx-background-color: -light-gray-2;
}

.notification-item:hover {
    -fx-background-color: -light-gray;
}

.notification-item
{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.notifications-toggle
{
    -fx-padding: 5px;
    -fx-background-color: -light-gray;
}

.notification-toggle:selected,
.toggle-button:selected .text
{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,.1) , 5, 0 , 0 , 1 );
    -fx-background-color: white;
    -fx-fill: -text-color;
}

.notification-toggle {
    -fx-background-color: transparent;
    -text-color: -dark-gray-2;
}

.popup {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0px;
}

.curved-chart  {
    CHART_COLOR_1_TRANS_20: linear-gradient(to bottom, derive(-info, 50%), transparent);
}

.chart-area-symbol {
    -fx-stroke: CHART_COLOR_1;
    -fx-fill: white;
    -fx-stroke-width: 2px;
}

.card-poster {
    -fx-background-image: url("../img/poster.png");
    -fx-background-size: contain;
}

.contributors-avatar-stacked .avatar-view {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.container-option .toggle-button {
    -fx-effect: none;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
}

.container-option .toggle-button:selected {
    -fx-background-color: -fx-accent;
    -fx-border-width: 0px;
}

.container-option .toggle-button:selected .text {
    -text-color: white;
}

.container-align .toggle-button {
    -fx-border-color: derive(-dark-gray, 30%);
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-width: 2px;
    -fx-effect: none;
    -fx-background-color: white;
    -fx-border-insets: -1px;
}

.container-align .toggle-button .icon {
    -fx-fill: derive(-dark-gray, 30%);
}

.container-align .toggle-button:hover {
    -fx-border-color: -dark-gray;
}

.container-align .toggle-button:hover .icon {
    -fx-fill: -dark-gray;
}
.container-align .toggle-button:selected {
    -fx-background-color: -fx-accent;
    -fx-border-color: -fx-accent;
}

.container-align .toggle-button:selected .icon {
    -fx-fill: white;
}

.chart-legend-item,
.chart-title {
    -fx-font-family: "Instagram Sans";
    -fx-font-weight: normal;
}

.box-module,
.drawer-menu {
    -fx-font-family: "Instagram Sans";
}

.theme-container .toggle-button:selected {
    -fx-background-color: transparent;
}

.theme-container .toggle-button {
    -fx-padding: 0px;
}

.theme-container {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 4px;
    -fx-border-color: transparent;
    -fx-padding: 0px;
    -fx-border-width: 4px;
    -fx-background-insets: -10px;
}

.theme-container:selected {
    -fx-border-color: -elegant;
    -fx-border-width: 4px;
    -fx-padding: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    -fx-font-family: "Instagram Sans Headline";
}

.copy-button .text {
    -fx-fill: -dark-gray;
}

.copy-button {
    -fx-background-color: white;
    -fx-border-color: -light-gray-2;
}

