
/*
    Created on : 25/10/2020, 18:42:15
    Author     : Gleidson Neves da Silveira
    Samples styles
*/


.img1 {
    -fx-background-image : url("../../media/img/follow.jpg'");
    -fx-background-size : cover;
}