/*
    Created on : 11/09/2022, 08:00:15
    Author     : Gleidson Neves da Silveira
*/

/*
   @Color System

*/


.root {

    /* Layouts */
    -fx-background : white;
    -fx-foreground : -light-gray;
    /* Effect colors */
    -hover-color : -mint;

    /* Text */

    -text-color : -dark-gray;
    -inner-text : -info;

    /* Borders */
    -box-color : -medium-gray;
    -box-hover-color : -dark-gray;
    -box-focus-color : -info;

    -fx-background-color: -fx-background;
}

.layout {
    -fx-background-color: -fx-background;
}

/* @Text */

Text, .text, .label {
    -fx-font-family : 'Roboto Regular';
}

Text {
    -fx-fill : -text-color;
}

.gn-check-box .text
{
    -fx-fill : -text-color;
}

/* @Form */

.input-form {
    -gn-helper-text : true;
}

/* @TextField */

.gn-text-box .gn-text-box-base {

}

.gn-text-box:error .gn-text-box-base,
.gn-text-box:error .gn-text-box-base:hover,
.gn-text-box:error .gn-text-box-base:focused {
    -fx-border-color : -grapefruit;
}

.gn-text-box:error .gn-text-box-base:focused .label-prompt,
.gn-text-box:error .gn-text-box-base .label-prompt {
    -fx-text-fill : -grapefruit;
}

.gn-text-box:error .gn-text-box-base:focused .icon,
.gn-text-box:error .gn-text-box-base .icon,
.gn-text-box:error .gn-text-box-base .gn-float-editor .label-prompt .text,
.gn-text-box:error .gn-text-box-base:focused .gn-float-editor:float .label-prompt .text {
    -fx-fill : -grapefruit;
}

.gn-text-box .helper-text {
    -fx-text-fill : -text-color;
}

.gn-text-box:error .helper-text {
    -fx-text-fill : -grapefruit;
}


/* @Button */

.button {
    -fx-font-weight : bolder;
    -fx-graphic-text-gap : 10;
    -fx-cursor : hand;
}

.button .icon {
    -fx-fill : white;
}

.button:cancel {
    -fx-background-color : -fx-background;
    -fx-border-color : -fx-accent;
    -fx-border-radius : 5px;
    -fx-border-width : 2px;
}

.button:focused {
  -fx-background-color : derive(-fx-accent, -40%), derive(-fx-accent, -40%), -fx-accent;
}


.btn-flat:focused
{
    -fx-background-color : derive(-fx-accent, 90%);
}

.button:pressed {
    -fx-background-color : derive(-fx-accent, -40%)
}

.button:cancel .text {
    -fx-fill : -fx-accent;
}

/* @TextBox */

.gn-search-box,
.gn-text-box .gn-text-box-base
{
    -fx-border-color : -box-color;
    -fx-background-color : -fx-background;
}

.gn-text-box .gn-text-box-base:filled
{
    -fx-border-width : 0 0 1 0;
    -fx-background-color : -fx-foreground;
}

.gn-search-box:hover,
.gn-text-box:hover .gn-text-box-base
{
    -fx-border-color : -box-hover-color;
}

.gn-search-box:focused,
.gn-search-box:focused:hover,
.gn-text-box:focused,
.gn-text-box .gn-text-box-base:focused,
.gn-text-box .gn-text-box-base:focused .icon
{
    -fx-border-color : -box-focus-color;
    -fx-fill : -box-focus-color;

}

.gn-text-box .gn-text-box-base:focused .label-prompt .text
{
    -fx-fill : -box-focus-color;
}


.gn-text-box .editor,
.gn-text-box:focused .editor
{
    -fx-background-color : transparent;
    -fx-border-color : transparent;
}

.gn-text-box .gn-float-editor .label-prompt
{
    -fx-background-color : white;
    -fx-background-insets : 8 0 6 0;

}

.gn-search-box .icon {
    -fx-fill : -dark-gray;
}

.gn-text-box .icon {
    -fx-fill : -box-color;
}

.gn-search-box .action-button,
.gn-text-box .action-button {

   -fx-cursor : hand;
   -fx-background-color : transparent;

   -fx-background-radius : 100px;
   -fx-border-radius : 100px;

   -fx-pref-height : 20px;
   -fx-pref-width : 20px;

   -fx-border-color : transparent;
   -fx-border-width :  0px;
}

.gn-search-box .action-button:hover .icon,
.gn-text-box .action-button:hover .icon {
    -fx-fill : -hover-color;
}

.lead-icon {
   -fx-background-color : transparent;
   -fx-background-radius : 100px;
   -fx-border-radius : 100px;

   -fx-pref-height : 33px;
   -fx-pref-width : 30px;

   -fx-border-color : transparent;
   -fx-border-width :  1px;
}



.gn-search-box .action-button:hover,
.gn-text-box .action-button:hover {
    -fx-border-color : -hover-color;
}

.gn-text-box .action-button:pressed {
    -fx-background-color : -hover-color;
    -fx-border-color : -box-hover-color;
    -fx-border-width :  2px;
}

.gn-search-box .actions .action-button .icon,
.gn-text-box .action-button .icon {
    -fx-scale-x : 0.8;
    -fx-scale-y : 0.8;
}

.gn-search-box .actions .action-button,
.gn-password-box .action-button {
    -fx-padding : 5px;
}

.gn-search-box .actions {
    -fx-background-color : transparent;
}

/* @CheckBox */

.gn-check-box .text
{
    -fx-fill : -text-color;
}


.gn-check-box:selected .box .mark,
.gn-check-box:indeterminate .box .mark
{
    -fx-border-width : 0px;
    -fx-background-color : white;
}



.gn-search-box .editor,
.gn-search-box .editor:focused {
    -fx-background-color : transparent;
    -fx-border-color : transparent;
}







/* @ContextMenu */

.context-menu {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,.1) , 18, 0 , 0 , 5 );
    -fx-border-color : -focused-border;
    -fx-border-radius : 5px;
    -fx-background-radius : 5px;
    -fx-border-width : 1px;
    -fx-font-family : Roboto;
}

.context-menu .menu .text,
.context-menu .menu-item .text
{
    -fx-font-size : 10pt;
}

.context-menu .menu-item:disabled:hover .label .text,
.context-menu .menu-item:disabled:hover .label {
    -fx-background-color : transparent;
    -fx-text-fill : -text-color;
    -fx-fill : -text-color;
}

.context-menu .menu-item:disabled:hover,
.context-menu .menu-item:disabled {
    -fx-background-color : transparent;
}

.context-menu {
    -fx-background-color: white;

    -fx-border-color: -light-gray-2;
    -fx-border-style: solid;
}

.context-menu .separator {
    -fx-padding: 2 4 2 4;  /*7 16 7 16 */
}

.context-menu .menu-item .icon
{
    -fx-fill : -text-color;
}

.context-menu .menu-item:hover,
.context-menu .menu-item:hover .label {
    -fx-background-color : -primary-color;
}


.context-menu .menu-item:hover .icon ,
.context-menu .menu-item:hover SVGPath
{
    -fx-fill : white;
}

.context-menu .menu-item .label {
    -fx-padding : 5px;
}

.context-menu .menu-item .label .text,
.context-menu .menu-item .icon
{
    -fx-padding : 2px;
}

.context-menu .menu-item .label .text,
.context-menu .menu-item:selected .left-container .radio,
.context-menu .radio-menu-item:hover:checked .left-container .radio
{
    -fx-background-color : white;
    -fx-fill : -text-color;
}

.radio-menu-item:checked > .left-container > .radio {
    -fx-shape: "M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z";
}

.context-menu .menu-item:focused .label .text {
    -fx-fill : -text-color;
}

.context-menu .menu-item:hover:focused .icon,
.context-menu .menu-item:focused .icon,
.context-menu .menu-item:selected .icon,
.context-menu .menu-item:selected .stack-pane,
.context-menu .menu-item:selected StackPane,
.context-menu .menu-item:focused .label .text
{
    -fx-fill : white;
}

.context-menu .menu-item .left-container .radio SVGPath {
    -fx-shape : "M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z";
}

.context-menu .menu-item:hover .label .text {
    -fx-fill : white;
}

.context-menu .menu-item:selected .left-container .radio {
    -fx-fill : white;
}

.context-menu:focused:hover .menu-item:selected .left-container .radio,
.context-menu:hover .menu-item:selected .left-container .radio {
    -fx-fill : white;
}


.context-menu .menu-item:pressed,
.context-menu .menu-item:pressed .label {
    -fx-background-color : -dark-gray;
}

.context-menu .menu-item:focused,
.context-menu .menu-item:focused .label {
        -fx-background-color : -fx-accent;
}

/* @SplitPane */

.split-pane:horizontal .split-pane-divider {
    -fx-background-color : -medium-gray;
    -fx-pref-width : 2px;
}

/* TitledPane */

.titled-pane {

    -fx-background-color: white;
    -fx-border-color : -box-color;
    -fx-border-width : 2px;
    -fx-border-radius : 2px;
}

.titled-pane .content {
    -fx-border-color : transparent;
    -fx-background-color: white;
}

.titled-pane .title,
.titled-pane:expanded .title {

    -fx-font-size : 12pt;
    -fx-border-color : transparent;
    -fx-background-color: white;
    -fx-border-color : transparent transparent -box-color transparent;
     -fx-border-width : 1px;
}

.titled-pane .title .text {
    -fx-fill : -text-color;
    -fx-font-weight : bold;
}


.titled-pane:focused .title .arrow-button .arrow,
.titled-pane:expanded .title .arrow-button .arrow {
    -fx-shape : "m12 15-5-5h10Z";
    -fx-max-height : 5px;
    -fx-max-width : 5px;
    -fx-effect : none;
    -fx-fill : red;
    -fx-focus-color : transparent;
}

.accordion .titled-pane .title {
    -fx-border-color : transparent;
    -fx-border-width : 0px;
}

