/*
    Created on : 03/05/2018, 08:00:15
    Author     : Gleidson Neves da Silveira
*/


#block .hyperlink, #block .hyperlink:pressed, #block .hyperlink:visited {
  -fx-underline : false;
  -fx-border-color : transparent;
  -fx-border-width : 0px;
  -fx-text-fill : black;
}

#block:pressed {
  -fx-background-color : -medium-gray;
}

#block:hover {
  -fx-background-color : -light-gray;
}
