/*
    Created on : 03/05/2018, 08:00:15
    Author     : Gleidson Neves da Silveira
*/


/* Single property -> background, border, insets*/
/* Multi property -> btn-primary, btn-danger*/

/************************************************************************************
*
*               #inherit
*
*************************************************************************************/
.root {
  /* bootstrap */
  -primary   : #4285f4;
  -info      : #33B5E5;
  -base      : #2bbbad;
  -success   : #02C852;
  -warning   : #FF8800;
  -danger    : #FF3547;
  -secondary : #AA66CC;
  -unique    : #880E4F;
  -elegant   : #2E2E2E;

  /* Theme */
  -brown       : #795548;
  -red         : -danger;
  -grapefruit  : #ED5565;
  -bittersweet : #FC6E51;
  -deep-orange : #FF7043;
  -orange      : -warning;
  -amber       : #FFA000;
  -sunflower   : #FFCE54;
  -yellow      : #ffeb3b;
  -lime        :  #cddc39;
  -grass       : #A0D468;
  -green       : -success;
  -mint        : #48CFAD;
  -teal        : -base;
  -cyan        : #00BCD4;
  -aqua        : #4FC1E9;
  -blue-jeans  : #5D9CEC;
  -blue        : -primary;
  -indigo      : #3F51B5;
  -purple      : -secondary;
  -deep-purple : #512DA8;
  -lavander    : #AC92EC;
  -pink        : #EC407A;
  -pink-rose   : #EC87C0;
  -light-gray  : #E6E9ED;
  -medium-gray : #AAB2BD;
  -dark-gray   : #656D78;
  -blue-gray   :  #78909C;
  -light-green : #8BC34A;
  -light-blue : #82B1FF;
  -gray : #8e8e8e;

  /*Social color*/
  -facebook  : #3b5998;
  -twitter   : #55acee;
  -google    : #dd4b39;
  -linkedin  : #0082ca;
  -instagram : #2e5e86;
  -pinterest : #c61118;
  -youtube   : #ed302f; /* Falta */
}

/************************************************************************************
*
*               #Theme
*
*************************************************************************************/

.button, .label

{
  -fx-font-family : 'Roboto';
}

.jfx-tab-pane .depth-container .tab-header-area .headers-region .tab .jfx-rippler .tab-container .tab-label .text
 {
  -fx-font-family : Roboto Bold;
}

.button
 {
  -fx-background-color : -base;
  -fx-text-fill : white;
  -fx-border-color : transparent;
}

.button:pressed {
  -fx-scale-x : 1.05;
  -fx-scale-y : 1.05;
}

.button:focused {
  -fx-background-color : derive(-base, -15%);
}

.button:hover {
  -fx-background-color : derive(-base, 45%);
}


.gn-buttons .gn-close, .gn-buttons .gn-minimize, .gn-buttons .gn-maximize {
  -fx-background-color : transparent;
}

/************************************************************************************
*
*               #Colors
*
*************************************************************************************/


.transparent, .flat, .flat:pressed, .flat:focused, .outlined {
  -fx-background-color : transparent;
}


.primary, .out-primary:hover, .out-primary:focused,  .btn-primary, .primary .jfx-snackbar-content,
.primary .virtual-flow .clipped-container .sheet .jfx-list-cell:filled
{
    -fx-background-color : -primary;
}

.base, .btn-base, .default .jfx-snackbar-content,
.out-base:focused, .out-base:hover
{
    -fx-background-color :#2BBBAD;
}

.info, .btn-info, .info .jfx-snackbar-content,
.info .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-info:focused, .out-info:hover
{
    -fx-background-color : -info;
}

.success, .btn-success, .success .jfx-snackbar-content,
.success .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-success:focused, .out-success:hover
{
    -fx-background-color : -success;
}

.warning, .btn-warning, .warning .jfx-snackbar-content,
.warning .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-warning:focused, .out-warning:hover
{
    -fx-background-color : -warning;
}

.danger, .btn-danger, .danger .jfx-snackbar-content,
.danger .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-danger:focused, .out-danger:hover
{
    -fx-background-color : -danger;
}

.secondary, .btn-secondary, .secondary .jfx-snackbar-content,
.secondary .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-secondary:focused, .out-secondary:hover
{
    -fx-background-color : -secondary;
}

.unique, .btn-unique, .unique .jfx-snackbar-content,
.unique .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-unique:focused, .out-unique:hover
{
  -fx-background-color : -unique;
}

.elegant, .btn-elegant, .elegant .jfx-snackbar-content,
.elegant .virtual-flow .clipped-container .sheet .jfx-list-cell:filled,
.out-elegant:focused, .out-elegant:hover
{
  -fx-background-color : -elegant;
}

.cyan, .btn-cyan,
 .cyan .virtual-flow .clipped-container .sheet .jfx-list-cell:filled
{
    -fx-background-color : -cyan;
}

.lime, .btn-lime {
  -fx-background-color : -lime;
}

.yellow, .btn-yellow {
  -fx-background-color : -yellow;
}

.pink, .btn-pink {
  -fx-background-color : -pink;
}

.indigo, .btn-indigo {
  -fx-background-color : -indigo;
}

.amber, .btn-amber {
  -fx-background-color : -amber;
}

.brown, .btn-brown {
  -fx-background-color : -brown;
}

.deep-orange, .btn-deep-orange {
  -fx-background-color : -deep-orange;
}

.red, .btn-red {
  -fx-background-color : -red;
}

.blue-gray, .btn-blue-gray {
  -fx-background-color : -red;
}

.purple, .btn-purple .purple .virtual-flow .clipped-container .sheet .jfx-list-cell:filled
{    -fx-background-color : -purple;
}

.gray, .btn-gray {
  -fx-background-color : -gray;
}

.base {
  -fx-background-color : -base;
}

/************************************************************************************
*
*               #Helpers
*
*************************************************************************************/



.box-search {
    -fx-background-repeat : no-repeat;
    -fx-background-position : right;
    -fx-background-size : 20;
    -fx-background-insets : 50;
    -fx-min-height : 35px;
}

.box-search .text-field{
   -fx-background-color : transparent;
}

.elevator, .flat:focused {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 5, 0 , 0 , 0 );
}

.elevator:hover {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 20, 0 , 0 , 0 );
}


.comb-center {
  -fx-background-insets : 0;
  -fx-background-radius :0;
}

.comb-left-4 {
    -fx-background-insets : 0;
  -fx-scale-x : 1.0;
  -fx-scale-y : 1.0;
   -fx-background-radius : 4px 0px 0px 4px;
}

.comb-right-4,
.comb-right-4:pressed,
.comb-right-4:focused,
.com-right-4:hover
{
    -fx-background-insets : 0;
  -fx-scale-x : 1.0;
  -fx-scale-y : 1.0;
  -fx-faint-focus-color: red;
  -fx-focus-color:red;
  -fx-background-radius : 0px 4px 4px 0px;
}

/************************************************************************************
*
*               #Typographic
*
*************************************************************************************/

.text-10, .btn-small, .text-small {
  -fx-font-size : 10px;
}

.text-12, .h6 {
    -fx-font-size : 12;
}

.text-14, .h5,
.text-large, .flat:focused,
.btn-large {
  -fx-font-size : 14px;
}

.text-18, .h4 {
  -fx-font-size : 18px;
}

.text-24, .h3 {
  -fx-font-size : 24px;
}

.text-30, .h2 {
  -fx-font-size : 30px;
}

.text-36, .h1 {
  -fx-font-size : 36px;
}

.title {
  -fx-font-family : 'Roboto Bold';
}

/************************************************************************************
*
*               #Background
*
*************************************************************************************/

.rectangle {
  -fx-background-radius : 0px;
}

.round {
  -fx-background-radius : 100px;
}

.rounded {
  -fx-background-radius : 20px;
}

.leaf {
   -fx-background-radius : 100px 0px 100px 0px;
}

.semi-leaf {
   -fx-background-radius : 20px 0px 20px 0px;
}

.mountain {
   -fx-background-radius : 100px 100px 0px 0px;
}

.reverse-mountain {
  -fx-background-radius :  0px 0px 100px 100px;
}

.round-tl {
   -fx-background-radius : 50px 0px 0px 0px;
}

.round-tr {
   -fx-background-radius : 0px 50px 0px 0px;
}

.round-br {
   -fx-background-radius : 0px 0px 50px 0px;
}

.round-bl {
   -fx-background-radius : 0px 0px 0px 50px;
}

.pill-left {
  -fx-background-radius : 50px 0px 0px 50px;
}

.pill-right {
  -fx-background-radius : 0px 50px 50px 0px;
}

.jelly {
  -fx-background-radius :  100px 100px 50px 50px;
}

.information {
  -fx-background-radius : 100px 100px 100px 0px;
}

.parallelogram-l {
  -fx-shape : "M 450 300 L 200 300 L 250 400 L 500 400 L 450 300 ";
}

.parallelogram-r {
  -fx-shape : "M 450 300 L 250 300 L 200 400 L 400 400 L 450 300 ";
}

.trapeze {
  -fx-shape : "M 450 300 L 250 300 L 200 400 L 500 400 L 450 300 ";
}

.trapeze-inverse {
  -fx-shape :   "M 450 300 L 200 300 L 250 400 L 400 400 L 450 300 ";
}

.comb-close {
  -fx-shape : "M 300 350 L 250 400 L 450 400 L 450 300 L 250 300 L 300 350 ";
}

.comb-open {
  -fx-shape :  "M 250 300 L 250 400 L 450 400 L 400 350 L 450 300 L 250 300 ";
}

.comb-right {
  -fx-shape :  "M 250 300 L 250 400 L 450 400 L 500 350 L 450 300 L 250 300 ";
}

.comb-left {
  -fx-shape : "M 200 350 L 250 400 L 450 400 L 450 300 L 250 300 L 200 350 ";
}

.hexagom {
  -fx-shape : "M 200 350 L 250 400 L 450 400 L 500 350 L 450 300 L 250 300 L 200 350 ";
}

.arrow {
  -fx-shape : "M 550 400 L 350 400 L 400 350 L 350 300 L 550 300 L 600 350 L 550 400 ";
}

.star-2 {
  -fx-shape : "M 400 200 L 350 300 L 250 350 L 350 400 L 400 500 L 450 400 L 550 350 L 450 300 L 400 200";
}

.star {
  -fx-shape : "M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z";
}

.pac {
  -fx-shape : "M 300 500 A 50 50 360 1 1 300 200 L 300 350 L 450 350 C 450 400 400 500 300 500 ";
}

.heart {
  -fx-shape : "M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z";
}

.tool-tip {
  -fx-shape : "M 300 150 L 300 200 L 200 250 L 300 300 L 300 450 C 300 475 300 500 350 500 L 750 500 C 800 500 800 475 800 450 L 800 150 C 800 100 800 100 750 100 L 350 100 C 300 100 300 150 300 150 ";
}

/************************************************************************************
*
*               #Border
*
*************************************************************************************/

/* Size */

.border-1 {
  -fx-border-width : 1px;
}

.border-2, .outlined{
  -fx-border-width : 2px;
}

/* position */
.border-bottom-1,
.border-bottom-1 > .depth-container .tab-header-area .tab-header-background
{
  -fx-border-width : 0px 0px 1px 0px;
}

.border-bottom-2 {
  -fx-border-width : 0px 0px 2px 0px;
}

.border-right-1 {
    -fx-border-width : 0px 1px 0px 0px;
}

.border-right-2 {
    -fx-border-width : 0px 1px 0px 0px;
}

.border-top-1 {
    -fx-border-width : 1px 0px 0px 0px;
}

.border-top-2 {
    -fx-border-width : 2px 0px 0px 0px;
}

/* Color */
.border-gray,
.border-gray > .depth-container .tab-header-area .tab-header-background
{
    -fx-border-color :  -medium-gray;
}

.border-base, .out-base,
.border-base > .depth-container .tab-header-area .tab-header-background
{
  -fx-border-color :  -base;
}


.border-grey {
    -fx-border-color : -grey;
}

.border-primary, .out-primary
{
    -fx-border-color : -primary;
}

.border-jfoenix   {
    -fx-border-color : -base;
    -fx-border-style : solid;
}

.border-info, .out-info{
    -fx-border-color : -info;
}

.border-success, .out-success{
    -fx-border-color : -success;
}


.border-warning, .out-warning{
    -fx-border-color : -warning;
}

.border-secondary, .out-secondary{
    -fx-border-color : -secondary;
}

.border-danger, .out-danger{
    -fx-border-color : -danger;
}

.border-unique, .out-unique {
  -fx-border-color : -unique;
}

.border-elegant, .out-elegant {
  -fx-border-color : -elegant;
}

.border-white {
    -fx-border-color : white;
}

.border-facebook {
    -fx-border-color : -facebook;
}

.border-twitter {
    -fx-border-color : -twitter;
}

.border-google {
    -fx-border-color : -google;
}

.border-linkedin {
    -fx-border-color : -linkedin;
}

.border-instagram{
    -fx-border-color : -instagram;
}

.border-pinterest{
    -fx-border-color : -pinterest;
}


/*******************************************************************************
*
*       #Text
*
*******************************************************************************/

.text-gray, .text-gray .text, .text-gray SVGPath{
    -fx-fill : -gray;
    -fx-text-fill : -gray;
}

.text-white, .btn-light,
.outlined:focused,
.text-white .text,
.outlined:hover
 {
    -fx-fill : white;
    -fx-text-fill : white;
}

.text-primary, .out-primary,
.text-primary .text {
    -fx-fill : #4285f4;
    -fx-text-fill : #4285f4;
}

.text-secondary, .out-secondary,
.text-secondary .text   {
    -fx-fill : -secondary;
    -fx-text-fill :-secondary;
}

.text-info, .out-info,
.text-info .text {
    -fx-fill : -info;
    -fx-text-fill : -info;
}

.text-base, .out-base,
.text-base .text  {
    -fx-fill : -base;
    -fx-text-fill : -base;
}

.text-pink ,
.text-pink .text {
    -fx-fill : #EC407A;
    -fx-text-fill : #EC407A;
}

.text-warning , .out-warning,
.text-warning .text {
    -fx-fill : -warning;
    -fx-text-fill : -warning;
}

.text-danger, .out-danger ,
.text-danger .text {
    -fx-fill : -danger;
    -fx-text-fill : -danger;
}

.text-success, .out-success,
.text-success .text{
    -fx-fill : -success;
    -fx-text-fill : -success;
}

.text-elegant , .out-elegant, .btn-dark,
.text-elegant .text {
  -fx-fill : -elegant;
  -fx-text-fill : -elegant;
}

.text-unique, .out-unique,
.text-unique .text {
  -fx-fill : -unique;
  -fx-text-fill : -unique;
}


.text-facebook,
.text-facebook .text{
    -fx-fill : -facebook;
    -fx-text-fill : -facebook;
}

.text-twitter,
.text-twitter .text{
    -fx-fill : -twitter;
    -fx-text-fill : -twitter;
}

.text-google,
.text-google .text {
    -fx-fill : -google;
    -fx-text-fill : -google;
}

.text-linkedin,
.text-linkedin .text{
    -fx-fill : -linkedin;
    -fx-text-fill : -linkedin;
}

.text-instagram,
.text-instagram .text{
    -fx-fill : -instagram;
    -fx-text-fill : -instagram;
}

.text-pinterest,
.text-pinterest .text{
    -fx-fill : -pinterest;
    -fx-text-fill : -pinterest;
}

.text-youtube,
.text-youtube .text{
    -fx-fill : -youtube;
    -fx-text-fill : -youtube;
}


/************************************************************************************
*
*               @Button
*
*************************************************************************************/

.flat:hover, .flat:focused {
  -fx-background-color : -light-gray;
}

.flat:pressed, .flat {
  -fx-scale-x : 1;
  -fx-scale-y : 1;
  -fx-cursor : hand;
  -fx-font-size : 14px;
}

.raised:pressed {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.2) , 20, 0 , 0 , 10 );
}

.raised {
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.3) , 20, 0 , 0 , 4 );
}

.btn-primary:focused {
  -fx-background-color : derive(-primary, -15%);
}

.btn-primary:hover {
  -fx-background-color : derive(-primary, 45%);
}

.btn-info:focused {
  -fx-background-color : derive(-info, -15%);
}

.btn-info:hover {
  -fx-background-color : derive(-info, 45%);
}

.btn-success:focused {
  -fx-background-color : derive(-success, -15%);
}

.btn-success:hover {
  -fx-background-color : derive(-success, 45%);
}

.btn-warning:focused {
  -fx-background-color : derive(-warning, -15%);
}

.btn-warning:hover {
  -fx-background-color : derive(-warning, 45%);
}

.btn-danger:focused {
  -fx-background-color : derive(-danger, -15%);
}

.btn-danger:hover {
  -fx-background-color : derive(-danger, 45%);
}

.btn-secondary:focused {
  -fx-background-color : derive(-secondary, -15%);
}

.btn-secondary:hover {
  -fx-background-color : derive(-secondary, 45%);
}

.btn-unique:focused {
  -fx-background-color : derive(-unique, -15%);
}

.btn-unique:hover {
  -fx-background-color : derive(-unique, 45%);
}

.btn-elegant:focused {
  -fx-background-color : derive(-elegant, -15%);
}

.btn-gray:focused {
  -fx-background-color : derive(-gray, 45%);
}

.btn-elegant:hover {
  -fx-background-color : derive(-gray, -15%);
}

/************************************************************************************
*
*               @ScroolPane
*
*************************************************************************************/

.scroll-pane .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color : white;
    -fx-border-width : 0;
    -fx-background-color: transparent, transparent;
}

/*******************************************************************************
*
*                      @JFXBadge
*
*******************************************************************************/

.icon {
    -fx-text-fill: #FE774D;
    -fx-cursor: hand;
}

.icon-rippler {
    -jfx-rippler-fill: BLUE;
    -jfx-mask-type: CIRCLE;
}

.icon-rippler:hover {
    -fx-cursor: hand;
}

.icon .badge-pane {
    -fx-background-color: -base;
    -fx-background-radius: 100;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-alignment: center;
}

.icon .badge-pane .label{
    -fx-font-weight: BOLD;
    -fx-font-size: 10px;
    -fx-text-fill: WHITE;
}

.icon .badge-pane {
  -fx-background-color : -base;
}

.icon-danger .badge-pane {
  -fx-background-color : -danger;
}

.icon-warning .badge-pane {
  -fx-background-color : -warning;
}

/*******************************************************************************
*                                                                              *
*       @JFXHamburger
*                                                                              *
*******************************************************************************/

.jfx-hamburger {
    -fx-spacing: 3px;
    -fx-cursor : hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 22px;
    -fx-pref-height: 2px;
    -fx-background-color: -gray;
    -fx-background-radius: 5px;
    -fx-cursor : hand;
}

.jfx-hamburger:hover StackPane {
    -fx-background-color: rgba(0,0,0,.5);
}

.jfx-hamburger:hover {
    -fx-background-radius: 100;
    -fx-background-color: rgba(0,0,0,.2);
}

.hambuger-small {
    -fx-padding: 10;
    -fx-spacing: 3px;
}

.hambuger-large {
    -fx-spacing: 6px;
}

.hambuger-large StackPane {
    -fx-pref-height: 60px;
    -fx-pref-width: 40px;
}

.hamburger-gray StackPane{
  -fx-background-color : -gray;
}

.hamburger-primary StackPane{
  -fx-background-color : -primary;
}

.hamburger-info StackPane {
  -fx-background-color : -info;
}

.hamburger-success StackPane {
  -fx-background-color : -success;
}

.hamburger-warning StackPane{
    -fx-background-color : -warning;
}

.hamburger-danger StackPane{
    -fx-background-color : -danger;
}

.hamburger-secondary StackPane{
    -fx-background-color : -secondary;
}

.hamburger-unique StackPane{
    -fx-background-color : -unique;
}

.hamburger-elegant StackPane{
    -fx-background-color : -elegant;
}


/*******************************************************************************
*                                                                              *
*       @TabPane
*                                                                              *
*******************************************************************************/


.tab-white
{
    -fx-tab-max-height: 40px;
    -fx-tab-min-height: 40px;

}

.tab-white:disabled {
    -fx-opacity : .5;
}

.tab-white .depth-container .tab-header-area .headers-region .tab .jfx-rippler {
  -jfx-rippler-fill : white;
}

.tab-white .tab-header-background
{
    -fx-background-color: white;
}

.tab-white.headers-region .tab-selected-line{
    -fx-background-color : white;
}

.tab-white .headers-region .tab .tab-container .tab-label {
    -fx-background-color : transparent;
}

.tab-white .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: white;
}

.tab-white .tab-header-background,
.tab-white .headers-region .tab .tab-container .tab-label
{
    -fx-text-fill : rgba(0,0,0,.5);
    -fx-background-color: white;
    -jfx-rippler-fill: black;
}

.tab-white .depth-container .tab-header-area .headers-region .tab .jfx-rippler {
  -jfx-rippler-fill : #9e9e9e;
}

.tab-white .depth-container .tab-header-area .control-buttons-tab .tab-down-button {
  -fx-background-color : #9e9e9e;
}

.tab-white .depth-container .tab-header-area .control-buttons-tab:hover .tab-down-button {
  -fx-background-color : black;
}

.tab-line-aqua .headers-region .tab-selected-line {
    -fx-background-color: -aqua;
}

.tab-shadow-none .depth-container {
    -fx-effect: none;
}
