
/*
    Created on : 03/05/2018, 08:00:15
    Author     : Gleidson Neves da Silveira
*/


/************************************************************************************
*
*               @inherit
*
*************************************************************************************/

.button {
  -fx-background-color : transparent;
}

/************************************************************************************
*
*               @ScroolBar
*
*************************************************************************************/

.scroll-bar > .thumb{
    -fx-background-color: white;
    -fx-border-color: rgba(0, 0, 0, .5);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding : 0;
}

.scroll-bar > .thumb:hover {
    -fx-background-color: #dadada;
}

.scroll-bar > .thumb:pressed {
    -fx-background-color: #606060;
}

.scroll-bar > .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar > .track-background {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0em; /* 3 */
    -fx-opacity : 0;
}

.scroll-bar:hover > .increment-button,
.scroll-bar:hover > .decrement-button {
     -fx-background-color: #dadada;
    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar:pressed > .increment-button,
.scroll-bar:pressed > .decrement-button {
     -fx-background-color: #dadada;
    -fx-padding: 0.25em; /* 3 */
}


.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover  {

}

.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow{
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent, #606060;
    -fx-effect: null;
}

.scroll-bar > .decrement-button:pressed > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow {
    -fx-background-color: transparent, white;
    -fx-effect: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
}

.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/* ARROW SHAPES */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: null;
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: null;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: null;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: null;
}

/************************************************************************************
*
*               @ScroolPane
*
*************************************************************************************/

.scroll-pane .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color : white;
    -fx-border-width : 0;
    -fx-background-color: transparent, transparent;
}

/************************************************************************************
*
*               @TitledPane
*
*************************************************************************************/

#side-bar .jfx-button
{
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-pref-width : 250px;
    -fx-min-height : 48px;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
    -fx-font-weight : bold;
}


#side-bar .jfx-button:hover
{
  -fx-background-color : -light-gray;
}

#side-bar .jfx-button:focused,
#side-bar .jfx-button:focused .text,
#side-bar .jfx-button:focused SVGPath
{
    -fx-background-color : derive(-aqua, -10%);
    -fx-fill : white;
}

#side-bar .jfx-button .jfx-rippler {
    -jfx-rippler-fill : white;
}

.titled-pane:collapsed .title {
    -fx-background-color : transparent;
    -fx-cursor : hand;
    -fx-padding : 15px 8px 15px 15px;
}

 .titled-pane .title:hover {
     -fx-background-color : -light-gray;
 }

.titled-pane .title:hover SVGPath{

 }

.titled-pane:expanded .title {
    -fx-padding :  15px 8px 15px 15px;
    -fx-background-color : transparent;
}

.titled-pane:collapsed .content{
    -fx-padding : 0;
    -fx-background-insets : 0;
}

.titled-pane>*.title>*.arrow-button { /* FX theme stylesheet */
    -fx-focus-color : transparent;
}

.titled-pane>*.title>*.arrow-button>*.arrow { /* FX theme stylesheet */
    -fx-shape: "M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z";
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.titled-pane .jfx-button{
    /*-fx-background-color: transparent;*/
    /*-fx-border-insets: -20px;*/
    -fx-alignment  : CENTER_RIGHT;
}

.titled-pane .jfx-button:hover{
    -fx-background-color : transparent;
}


.titled-pane .jfx-button:pressed .jfx-rippler{
    -jfx-rippler-fill : #00BCD4;
    -fx-background-color : transparent;
    -fx-text-fill : white;
    -fx-translate-x : 0;
}

.titled-pane .jfx-button .jfx-rippler{
    -jfx-rippler-fill : white;
}

.titled-pane:collapsed .title{
    -fx-background-radius: 0;
}

.titled-pane>*.content { /* FX theme stylesheet */
    -fx-border-insets: -1px -1px -1px -1px;
    -fx-padding: 0px;
}

.titled-pane>*.title {
    -fx-padding: 15;
}
