
.root {
    -fx-background-image : url('../media/fore1.jpg');
    -fx-background-repeat : no-repeat;
    -fx-background-size : cover;
}

.jfx-progress-bar:determinate .bar
{
    -fx-background-color : white;
}

.jfx-progress-bar:determinate .track {
  -fx-background-color : transparent;
}
