
.foreground {
    -fx-background-color : transparent;
}

.jfx-progress-bar:determinate .bar
{
    -fx-background-color : white;
}

.jfx-progress-bar:determinate .track {
  -fx-background-color : transparent;
}


.block
{
    -fx-background-color: linear-gradient(to top,   derive(#02796b, 50%) , derive(#73e57b, 50%)) ;
    -fx-shape : "M 50 100 L 50 500 L 400 500 L 250 100 L 50 100 ";
}

.block-two
{
    -fx-shape : "M 150 400 L 150 100 Q 250 150 250 250 Q 250 350 150 400";
    -fx-background-color: linear-gradient(to top,   derive(#02796b, 50%) , derive(#73e57b, 50%)) ;
}